*, *::before, *::after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	min-width: 1263px;
	max-width: 1920px;
	background-color: #fff;
	margin: 0 auto;
	font-family: sans-serif;
}
main{
 z-index: 1;
 margin: 0 auto;
 padding: 0 1.25rem;
}
.centerBlock{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 20px;
}
.clearfix::after{
	display: block;
	content: "";
	clear: both;
}
/***************************Шапка************************/
header{
	margin-bottom: 2.1875rem;
	overflow: hidden;
}
.topHeader{
	padding: 3.125rem;
}
.topHeader__container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.mainLogo{
	width: 16%;
}
.mainSearch{
	width: 35%;
}

.formMainSearch{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.formMainSearch span{
   position: absolute;
   top: 50%;
   left: 5%;
   transform: translate(-50%,-50%);
}
.formMainSearch__input{
	border: 1px solid #e0e0e0;
	border-radius: 30px;
	outline: 0;
	padding: 0.625rem 2.87rem;
	background-color: #fafafa;
	max-width: 82%;
	width: 100%;
	color: #000;
	font-family: "GothamPro";
	font-size: 0.875rem
}
.formMainSearch__button{
	padding: 0.625rem 2.87rem;
	text-decoration: none;
	color: #fff;
	background-color: #313131;
	border: 1px solid #313131;
	border-radius: 30px;
	outline: 0;
	margin-left: -2.5rem;
	font-size: 0.875rem;
	font-family: "GothamPro";

}


.phoneNumbLanguage{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	font-size: 0.875rem;
	font-family: "GothamPro";
	width: 32%;
	color: #151515;
	min-width: 486px;
}
.phoneNumber{
	width: 35%;

}
.phoneNumber i{
	margin-right: 5px;
}
.ChangeLanguage{
	width: 30%;
}
.ChangeLanguage a{
	text-decoration: none;
	color: #151515;
}
.ChangeLanguage img{
	margin-right: 5px;
}
.ChangeLanguage i{
	margin-left: 5px;
}
/************Нижния часть шапки****************/
.downHeader__nav{
	margin-bottom: 3.125rem;
}
.downHeader__nav ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0 3rem;
	width: 100%;
	max-width: 1875px;
	min-width: 1240px;
	margin: 0 auto;
}
.downHeader__nav a{
	text-decoration: none;
	font-size: 0.875rem;
	font-family: "GothamPro";
	color: #151515;
	padding-bottom: 30px;
}
.downHeader__nav li{
	margin-right: 20px;
	position: relative;
}
.dropNav{
	position: absolute;
	margin-top: 1.375rem;
	left: 0;
	width: 245px;
	background-color: #f8f8f8;
	color: #151515;
	border-radius: 10px;
	padding: 15px 10px;
	font-size: 0.875rem;
	font-family: "GothamPro";
	display: none;
	z-index: 5;
	-webkit-box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.15);
	box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.15);
}
.dropNav ul {
	width: 100%;
	min-width: 100%;
}
.dropNav__content{
	border-left: 1px solid #e3e3e3;
	padding: 10px;
	position: relative;
}
.dropNav__content::before{
    content: " ";
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #f8f8f8;
    border-width: 10px;
    top: -35px;
}
.dropNav__content ul{
	display: block;
	padding: 0;
}
.dropNav__content li{
	margin-bottom: 2.1875rem;
	width: 100%;
}
.downHeader__nav li:hover .dropNav{
	display: block;
}
/*************************Слайдер**********************/
.downHeader__carousel {
	width: 100%;
	height: 710px;
	position: relative;
}
.owl-carousel-header{
	height: 100%;
}
.owl-controls{
	position: absolute;
	bottom: 20px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.itemCarousel{
	height: 710px;
	background-position: center center;
}
.carousel-header-item1{
	background-image: url(../images/carousel1.png);
	-webkit-background-size: cover;
	background-size: cover;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.carousel-header-item1 >h3{
	font-size: 2.25rem;
	font-family: "GothamPro-Bold";
	line-height: 3.375rem;
	color: #fff;
	margin: 0;
	width: 100%;
	margin-left: 7%;
	text-transform: uppercase;
	max-width: 870px;
}
.carousel-header-item2{
	background-image: url(../images/macOS.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}

.owl-dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #fff;
    border-radius: 100%;
  	 
}
.owl-dot.active {
    background: #f24e4e;
}
/****************************КОНТЕНТ*******************************/



/************Табы*************/
.downNavigation{
	margin-bottom: 2.1875rem;
	width: 100%;
}
.downNavigation ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
	padding: 0 ;

}
.downNavigation li{
	padding: 1.0625rem 3.125rem;
	border: 1px solid #e0e0e0;	
	max-width: 295px;
	width: 100%;
	text-align: center;
	position: relative;
	height: 70px;
}
.downNavigation li:hover{
	cursor: pointer;
}
.downNavigation li a{
	line-height: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	color: #151515;
	text-decoration: none;
	font-family:  "GothamPro-Bold";
	text-transform: uppercase;
	font-size: 0.875rem;
	width: 75%;
}

.tabs-active{
	color: #64baf6 !important;
	border: 1px solid #64baf6 !important;
}
.tabs-active a{
	color: #64baf6 !important;
}
/*************Контент****************/
.centerContent{
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;

}
.centerContent__wrapper{
	max-width: 925px;
	width: 100%;
}
.centerContent__wrapper--leftContent{
	max-width: 925px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.siteBarLeftMain{
	width: 31.89%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.siteBarLeftMain__item{
	max-width: 295px;
	width: 100%;
	height: 130px;
	-webkit-background-size: 150%;
	background-size: 150%;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 1.25rem;	
	position: relative;
}
.siteBarLeftMain__item--blockFilter{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #1b1b1b;
	opacity: .40;
	z-index: 3;
}
.siteBarLeftMain__item--content{
	position: relative;
	height: 130px;
	width: 100%;
}

.content__border{
	border: 1px solid #fff;
	position: absolute;
	top: .625rem;
	left: .625rem;
	right: .625rem;
	bottom: .625rem;
	height: 110px;
	z-index: 4;
}
.content__text{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 85%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
	z-index: 4;
	line-height: 1.6875rem;
}
.content__text span{
	font-size: 1.5rem;
	font-family: "GothamPro";
}
.content__text p{
	margin: 0;
	font-size: .75rem;
	font-family: "GothamPro";
}
.content__text--div{
	font-size: 1.125rem !important;
	font-family: "GothamPro-Bold" !important;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}
/******************* Новости**********************/
.centerContent__news{
	width: 65.95%;
	max-width: 610px;
}
.siteBarMainRight{
	width: 23.79%;
}
.centerContent__news--top{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.25rem;
}
.top__itemSmall{
	width: 48.36%;
	max-width: 296px;
	position: relative;
	height: 282px;
	-webkit-background-size: cover;
	background-size: cover;
}
.top__itemSmall a{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: 5;
}
.top__itemLarge a{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: 5;
}

.top__itemLarge{
	width: 100%;
	position: relative;
	height: 282px;
	-webkit-background-size: cover;
	background-size: cover;
	max-width: 610px;
}
.top__itemSmall--blockFilter{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #1b1b1b;
	opacity: .40;
	z-index: 3;
}
.top__itemLarge--blockFilter{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #1b1b1b;
	opacity: .40;
	z-index: 3;
}
.top__itemSmall--text div{
	position: absolute;
	width: 80%;
	color: #fff;
	z-index: 4;
	font-size: 0.875rem;
	bottom: 1.875rem;
	left: 1.25rem;
	text-transform: uppercase;
	font-family: "GothamPro-Bold";
	line-height: 1.3125rem;
}
.top__itemLarge--text div{
	position: absolute;
	width: 85%;
	color: #fff;
	z-index: 4;
	font-size: 0.875rem;
	bottom: 1.875rem;
	left: 1.25rem;
	text-transform: uppercase;
	font-family: "GothamPro-Bold";
	line-height: 1.3125rem;
}
.centerContent__wrapper--downNews{
	width: 100%;
	max-width: 925px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.25rem;
}
	





